<nav>
    <h2>Products App</h2>
    <ul>
      <li>
        <a
          routerLink="home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/products"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Products</a
        >
      </li>
      <li>
        <a
          routerLink="/login"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Login</a
        >
      </li>
      <li>
        <a
          routerLink="/register"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Register</a
        >
      </li>
    </ul>
  </nav>
  