<nav>
  <h2>Observables</h2>
  <ul>
    <li>
      <a
        routerLink="/observables"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Observables</a
      >
    </li>
    <li>
      <a
        routerLink="/operators"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Operators</a
      >
    </li>
    <li>
      <a
        routerLink="/subjects"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Subjects</a
      >
    </li>
  </ul>
</nav>
