/* You can add global styles to this file, and also import other style files */
$color-primary: #0275dd;
$color-info: #9400e7;
$color-success: #5cb55c;
$color-warning: #ebad4e;
$color-danger: #ff534f;
$color-white: #f7f7f7;
$color-black: #161616;
$color-border: lightgray;
$button-disabled: #ccc;

@mixin flex-navbar() {
    display: flex;
    justify-content: right;
    align-items: center;
}

@mixin flex() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@mixin link-hover() {
    color: #ac546c;
    cursor: pointer;
}

@mixin button-style() {
    background-color: $color-primary;
    color: $color-white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 16px;
    transition: background-color 0.2s;
}
