<div class="login-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Email: </mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')"
        >The email is required</mat-error
      >
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')"
        >The email is not valid</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password: </mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
        >The password is required</mat-error
      >
      <mat-error *ngIf="loginForm.get('password')?.hasError('minLength')"
        >The password is is not valid</mat-error
      >
    </mat-form-field>
    <button type="submit" [disabled]="loginForm.invalid" mat-raised-button>
      LOGIN
    </button>
  </form>
</div>
