@use '../../../../styles.scss';

.not-found-container {
    text-align: center;
    margin: 100px auto;
    min-height: 50%;

    h1 {
        font-size: 36px;
        color: styles.$color-danger;
    }

    p {
        font-size: 18px;
    }
}