<header>
  <mat-toolbar>
      <img src="../../../../assets/logo.png" alt="logo">
      <nav mat-tab-nav-bar>
        <a mat-tab-link
           routerLink="/"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
        <a 
        *ngIf="currentUser"
           mat-tab-link
           routerLink="/movies"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          Movies
        </a>
        <a 
          *ngIf="!currentUser"
           mat-tab-link
           routerLink="/auth/login"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          Login
        </a>
        <a 
           *ngIf="!currentUser"
           mat-tab-link
           routerLink="/auth/register"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          Register
        </a>
        <a
        *ngIf="currentUser"
        routerLink="/"
        (click)="onLogout()"
        >
          Logout
        </a>
      </nav>
    </mat-toolbar>
  </header>
  