@use '../../../../styles.scss';

.mat-toolbar {


  img {
    height: 100%;
  }

  @include styles.flex-navbar();

  // Style the link
  a {
    color: styles.$color-white;
    text-decoration: none;
    margin: 2em;
    display: block;
    float: left;
    transition: all 0.2s;

    &:hover, &.active {
        transform: scale(1.5);
        color: styles.$color-warning;
        text-shadow: 1px 1px 2px black;
    }

  }
}
