/* movie-card.component.scss */

/* Import your global stylesheet variables */
@use '../../../../../../styles.scss';

.movie-card-container {

  .movie-card {
    background-color: styles.$color-white;
    border-radius: 10px;
    box-shadow: 0px 3px 6px styles.$color-gray;
    padding: 20px;
    margin: 20px;
    max-width: 600px;
    max-height: 35em;
  
    mat-card-header {
      background-color: styles.$color-gold;
      color: styles.$color-white;
      padding: 16px;
      border-radius: 10px;
  
      mat-card-title {
        font-size: 24px;
        margin-bottom: 8px;
      }
  
      mat-card-subtitle {
        font-size: 18px;
      }
    }
  
    mat-card-content {
      p {
        margin: 10px;
        font-size: 18px;
        color: styles.$color-black;
        line-height: 1.5;
        height: 100px;
      }
    }
  }
}
