<mat-card class="movie-card">
    <mat-card-header>
        <mat-card-title>{{ movie.name }}</mat-card-title>
        <mat-card-subtitle *ngFor="let genre of movie.genre">Genre: {{ genre }}</mat-card-subtitle>
        <mat-card-subtitle>Year: {{ movie.year }}</mat-card-subtitle>
        <mat-card-subtitle>Rating: {{ movie.rating.averageValue | number: "1.1-1" }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p class="description">{{ movie.description }}</p>
    </mat-card-content>
    <button mat-raised-button
    [routerLink]="['/movies', movie.id]"
    >Details</button>
</mat-card>
